<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Transverse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0E4700E1CF02EB40003E80D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E470261CF02EB40003E80D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E470311CF02EB40003E80D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
